/*--- global style */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/images/europe.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    text-align: center;

}

#heading {
    float: left;
    margin-left: 50px;
    padding: 15px;
    color: #fff;
}


/* navigation links */
.menu-bar {
	background: #06467F;
	text-align: right;
}

.menu-bar ul {
	display: inline-flex;
	list-style: none;
	color: #fff;
    font-size: 20px;
}

.menu-bar ul li {
	width: 100%;
	margin: 15px;
	padding: 15px;
    position: right;
}

.menu-bar ul li a {
	text-decoration: none;
	color: #fff;
}

.menu-bar ul li:hover {
	background: #2bab0d;
	border-radius: 10px;
}
/* --------- Game layout */

#quiz-container {
    background-color: aqua;
    margin: 5rem 12rem;
    border-radius: 2rem;
}
#question {
    text-align: center;
    padding-top: 2rem;
}
ol{
    display: inline-block;
    padding: 0 1.5rem;
    color: rgb(1,73,73);
}

p {
    display: inline-block;
}

.form-layout {
    background-color: aqua;
}
/* feeback page */
#contact-heading {
    text-align: center;
}

#comment {
    width: 850px;
    height: 330px;
}