/*--- global style */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/images/europe.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

#heading {
    float: left;
    margin-left: 50px;
    padding: 15px;
    color: #fff;
}
h2 {
    color: #fff;
    font-size: 23px;
}

/* navigation links */
.menu-bar {
	background: #06467F;
	text-align: right;
}

.menu-bar ul {
	display: inline-flex;
	list-style: none;
	color: #fff;
    font-size: 20px;
}

.menu-bar ul li {
	width: 100%;
	margin: 15px;
	padding: 15px;
    position: right;
}

.menu-bar ul li a {
	text-decoration: none;
	color: #fff;
}

.menu-bar ul li:hover {
	background: #2bab0d;
	border-radius: 10px;
    cursor: pointer;
}
/* Hero image */ 
#hero-image {
    display: flex;
	height: 90vh;
	justify-content: center;
	align-items: center;
    
}
.hero {
	height: 85%;
	width: 80%;
	position: relative;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
}
.headline {
    background-color: #fff;
    position: absolute;
    top: 17%;
    padding: 10px; 
    font-size: 29px;
    color:#a41e42;
    border-radius: 23rem;
}
.start-quiz {
	position: relative;
    font-size: 36px;
    background-color:#06467F;
    color: darkgray; 
    cursor: pointer;
    border-radius: 25rem;
}
.home-text {
    background-color: #06467F;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10rem 20rem;
    height: 282px;
    width: 50%;
    align-items: flex-end;
    border-radius: 30px;
}

/* home page */
.go-to-quiz {
    color: #fff;
    text-decoration: none;
    background-color: #06467F;
    border-radius: 25rem;
    position: absolute;
    top: 49%;
    margin: -6rem;
    text-align: center;
    right: 72%;
}

.go-to-quiz:hover{
    border-radius: 10px;
    font-size: 40px;
    color: #06467F;
    background-color: #fff;
    text-decoration: underline;
}
/* Game layout */
#countdown {
    color: #fff;
    font-size: 23px;
    padding-top: 13px;
}
#quiz-container {
    background-color:#06467F;
    margin: 5rem 12rem;
    border-radius: 2rem;
}
#question {
    text-align: center;
    font-size: 23px;
    color: #fff;
}
.option:hover{
    color: white;
}
ol{
    display: inline-block;
    padding: 0 1.5rem;
    color: #fff;
    font-size: 22px;
}
#option0:hover {
    font-size: 27px;
    cursor: pointer;
}
#option1:hover {
    font-size: 27px;
    cursor: pointer;
}
#option2:hover {
    font-size: 27px;
    cursor: pointer;
}
#option3:hover {
    font-size: 27px;
    cursor: pointer;
}
#questionCount {
    font-size: 22px;
    color: #fff;
}
p {
    display: inline-block;
    font-size: 20px;
    color: #fff;
}
.buttons {
    font-size: 20px;
}
.next {
    font-size: 22px;
    border-radius: 7px;
}
.refresh {
    font-size: 22px;
    border-radius: 7px;
}
.next:hover {
    cursor: pointer;
    font-size: 27px;
}
.refresh:hover {
    cursor:pointer;
    font-size: 27px;
}
.form-layout {
    border-radius: 3rem;
}

/* Answer sheet */
#scoreboard,#answerBank{
    width: 20rem;
    background: rgba(230,230,250,0.77);
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
}
#score-title{
    margin: 1rem 0;
}
#score-btn-one,#check-answer{
    margin-top: 1rem;
}
#score-btn-two{
    margin-top: 1rem;
}
#score{
    font-size: 2.5rem;
}
#answerBank li{
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
}
#answers{
    margin-top: 1rem;
}
/* feeback page */
.contact-form {
    background-color: #06467F;
    margin: 5rem 15rem 5rem 15rem;
    padding: 1rem;
    border-radius: 3rem;
}
#feedback {
    position: relative;
}
#contact-heading {
    text-align: center;
}
#comment {
    width: 92%;
    height: 330px;
}
.contact-details {
    font-size: 22px;
    color: #fff;
}
#email {
    font-size: 22px;
}
#fname.text-adjust {
    font-size: 22px;
}
#label {
    color: #fff;
}
#additional-remarks {
    width: 700px;
    height: 250px;
}
.submit-button {
    font-size: 22px;
}
.submit-button:hover {
    cursor: pointer;
    font-size: 24px;
}
/* media queies */

/* large to meduim screens from 1200px wide and down */

@media screen and (max-width: 1200px) {

    #hero-image {
        width: 100%;
        height: 0%;
        padding-top: 95px;
    }
    .headline {
        transform: translate(358px, -57px);
    }
    .start-quiz {
        transform: translate(119px, -415px);
    }

}
/* meduim screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

}



/*For screen size max width 767 px */
@media screen and (max-width: 767px) {
    
}