/*--- global style */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/images/europe.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    text-align: center;

}

#heading {
    float: left;
    margin-left: 50px;
    padding: 15px;
    color: #fff;
}


/* navigation links */
.menu-bar {
	background: #06467F;
	text-align: right;
}

.menu-bar ul {
	display: inline-flex;
	list-style: none;
	color: #fff;
    font-size: 20px;
}

.menu-bar ul li {
	width: 100%;
	margin: 15px;
	padding: 15px;
    position: right;
}

.menu-bar ul li a {
	text-decoration: none;
	color: #fff;
}

.menu-bar ul li:hover {
	background: #2bab0d;
	border-radius: 10px;
    cursor: pointer;
}
/* Hero image */ 
#hero-image {
    display: flex;
	height: 90vh;
	justify-content: center;
	align-items: center;
}
.hero {
	height: 85%;
	width: 80%;
	position: relative;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
}
.headline {
    background-color:darkgrey;
    position: absolute;
    top: 40%;
    padding: 10px; 
    font-size: 29px;
    transform: translate(414px, -50px);
    color:#a41e42;
}
.start-quiz {
	position: relative;
    transform: translate(128px, -376px);
    font-size: 36px;
    background-color:blue;
    color:darkgray; 
    cursor: pointer;
}
/* home page */
.go-to-quiz {
    color: #fff;
    text-decoration: none;
    
}
.go-to-quiz:hover{
    border-radius: 10px;
    font-size: 50px;
}
/* --------- Game layout */

#quiz-container {
    background-color: aqua;
    margin: 5rem 12rem;
    border-radius: 2rem;
}
#question {
    text-align: center;
    padding-top: 2rem;
    font-size: 23px;
}
.option:hover{
    color: white;
}
ol{
    display: inline-block;
    padding: 0 1.5rem;
    color: rgb(1,73,73);
    font-size: 22px;
    cursor: pointer;
}
#questionCount {
    font-size: 22px;
}
p {
    display: inline-block;
    font-size: 20px;
}
.buttons {
    font-size: 20px;
}
.next {
    font-size: 22px;
}
.next:hover {
    cursor: pointer;
    font-size: 27px;
}
.form-layout {
    background-color: aqua;
}
/* feeback page */
.contact-form {
    background-color: aqua;
    margin: 5rem 15rem 5rem 15rem;
    padding: 1rem;
}
/* feeback page */
#contact-heading {
    text-align: center;
}

#comment {
    width: 850px;
    height: 330px;
}
.contact-details {
    font-size: 22px;
}
#email {
    font-size: 22px;
}
#fname.text-adjust {
    font-size: 22px;
}
#additional-remarks {
    width: 700px;
    height: 250px;
}
.submit-button {
    font-size: 22px;
}
.submit-button:hover {
    cursor: pointer;
    font-size: 24px;
}
